<%layout('layout/boilerplate')%>

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-3">
      <div class="card card-border">
        <div class="card-body">
          <h4 class="card-title">254 <span class="text-muted">Employees</span></h4>
        </div>
        <div class="list-group list-group-flush">
          <a href="/employee" class="list-group-item list-group-item-primary">View all</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-border">
        <div class="card-body">
          <h4 class="card-title">25 <span class="text-muted">Jobs</span></h4>
        </div>
        <div class="list-group list-group-flush">
          <a href="" class="list-group-item list-group-item-primary">View all</a>
        </div>
      </div>
    </div>
  </div>
</div>