<% layout('layout/boilerplate') %>

<div class="row">
    <h1 class="text-center">Add Employee</h1>
    <div class="col-6 offset-3">
      <form action="/employee" method="POST" novalidate class="validated-form">
        <div class="mb-3">
          <label class="form-label" for="firstName">First Name</label>
          <input class="form-control" type="text" name="firstName" id="firstName" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="lastName">Last Name</label>
          <input class="form-control" type="text" name="lastName" id="lastName" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input class="form-control" type="email" name="email" id="email" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="phoneNum">Phone Number</label>
          <input class="form-control" type="number" name="phoneNum" id="phoneNum" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="job">Job Title</label>
          <input class="form-control" type="text" name="job" id="job" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-success">submit</button>
        </div>
      </form>
      <a class="btn btn-outline-primary" href="/employee">View Employee</a>
    </div>
  </div> 